footer
  .container.text-center
    p(align='center') © 2018 Bitcoinfinal. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/undead93/bitcoinfinalwallet', target='_blank') GitHub Project
      li
        a(href='https://bitcoinfinal.net', target='_blank') bitcoinfinal.net
