extends layout

block content
  .page-header
    h1 BitcoinFinal Wallet
  p.lead A NodeJS/MongoDB powered BitcoinFinal Web Wallet. Send and Receive BTCF from anywhere!
  hr
  .row
    .col-sm-6
      h2 Fast & Secure
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a BitcoinFinal Full Node, allowing access to the speeds and power of the BitcoinFinal blockchain.
      p
        if user
        else
          a.btn.btn-default(href='/signup', role='button') Sign Up! »
    .col-sm-6
      h2 What is BitcoinFinal?
      p BitcoinFinal is a cryptocurrency built upon the original Litecoin Core codebase. It features a new Proof-Of-Work hashing algorithm called "scrypt" and also features Proof-Of-Stake .
      p
        a.btn.btn-default(href='https://github.com/bitcoinfinal/BitcoinFinal', target='_blank', role='button') View Github »
